<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="#" method="POST">
      <label for="title">Blog title:</label>
      <input type="text" id="title" name="title" value="<%= blog.title %>" required>
      <label for="body">Blog body:</label>
      <textarea id="body" name="body" required><%= blog.body %></textarea>
      <label for="public">Public:</label>
      <input type="checkbox" id="public" name="public" value="true" <% if (blog.public) { %> checked <% } %>>
      <label for="tags_combined">Tags:</label>
      <input type="text" id="tags_combined" name="tags_combined" placeholder="example, example2, example3">
      <br>
      <div id="list1" class="dropdown-check-list" tabindex="100">
        <span class="anchor">Select Tags</span>
        <ul class="items">
          <% tags.forEach(tag => { %>
            <li><input type="checkbox" name="tag_<%= tag.name %>" <% if (blog.tags.includes(tag.name)) { %> checked <% } %> /><%= tag.name %></li>
          <% }); %>
        </ul>
      </div>
      <br>
      <button>Save</button>

      <script>
        var checkList = document.getElementById('list1');
        checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
          if (checkList.classList.contains('visible'))
            checkList.classList.remove('visible');
          else
            checkList.classList.add('visible');
        }
      </script>

      <script>
        //const trashcan = document.querySelector('del');
    
        function deleteBlog() {
          var blogID = '<%= blog._id %>';
          console.log("BLOG DELETE "+blogID);
          const endpoint = `/blogs/${blogID}`;
          
          if (confirm("Are you sure you want to Delete?")) {
            fetch(endpoint, {
              method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
          }
        };
        
      </script>
      <button type="button" onclick="deleteBlog();">Delete</button>
      <a href="/blogs/<%= blog._id %>">Cancel Edits</a>
    </form>
  </div>
  <!-- <div class="details content">
    <a class="delete" data-doc="<%= blog._id %>">
      <img src="/trashcan.svg" alt="delete icon">
    </a>
  </div> -->

  <%- include("./partials/footer.ejs") %>
</body>
</html>