<html lang="en">
<%- include("./partials/head.ejs") %>

<% const BodyLength = 350; %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h3>Tags</h3>
    <input type="text" id="tag search" name="tag search">
    <button type="button" id="tag search button" onclick="searchTags()">Search</button>
    <br>
    <% tags.forEach(tag => { %>
      <% if (tagQuery.length > 0 && tagQuery[0] == tag.name) { %>
        <button style="background-color: yellow;" type="button" value="<%= tag.name %>" onclick="returnToBlogs()"><%= tag.name %></button>
      <% } else { %>
        <button type="button" value="<%= tag.name %>" onclick="searchTag(this.value)"><%= tag.name %></button>
      <% } %>
    <% })  %>
    <% if (tagQuery.length > 0) { %> <!-- If there is a tag query, show all other tags as well -->
      <% if (cotags.length > 0) { %>
        <br>
        Cotags:
        <br>
      <% } for (i = 0; i < cotags.length; i++ ) { cotag = cotags[i]; %>
        <% if (tagQuery[0] != cotag) { %>
          <% if (tagQuery.includes(cotag)) { %>
            <button style="background-color: yellow;" type="button" value="<%= cotag %>" onclick="searchTag('<%= tagQuery[0]%>')"><%= cotag %></button>
          <% } else { %>
            <button type="button" value="<%= cotag %>" onclick="searchTag('<%= tagQuery[0]%>,' + this.value)"><%= cotag %></button>
        <% }} %>
      <% } %>
    <% } %>

    <script>
      //Search on Enter
      var input = document.getElementById("tag search");
      input.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
          event.preventDefault();
          document.getElementById("tag search button").click();
        }
      });
      //Search
      function searchTags() {
        var input = document.getElementById("tag search");
        if (input.value.trim().length > 0)
          window.location = "/blogs/tags/" + input.value.trim();
        else
          window.location = "/blogs";
      }
      function searchTag(tag) {
        window.location = "/blogs/tags/" + tag;
      }
      function returnToBlogs() {
        window.location = "/blogs";
      }
    </script>

    <h2>All Blogs</h2>

    <% blogs.forEach(blog => { %>
      <a class="single" href="/blogs/<%= blog._id %>">
        <h3 class="title"><%= blog.title %></h3>
        <% if (blog.body.length < BodyLength) { %>
          <p><pre><%= blog.body %></pre></p>
        <% } else { %>
          <p><pre><%= blog.body.substring(0, BodyLength-2) %>...</pre></p>
        <% } %>
        <p><small><% if (blog.createdBy != null) {%>By: <%= blog.createdBy %><% } %></small></p>
        <% if (!blog.public) { %>
          <i><small>( Private )</small></i>
        <% } %>
        <p><small><%= blog.createdAt.toDateString() %></small></p>
        <i><small>
          <% for (i = 0; i < blog.tags.length; i++) { %>
            <%= blog.tags[i] %><% if (i != blog.tags.length - 1) { %>,
            <% } %>
          <% } %>
        </small></i>
      </a>
    <% }) %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>